* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #bfc1c8;
    background: #1e202b;
}
.navbar ul li {
    padding-left: 10px;
    padding-right: 5px;
}
.navbar ul li a {
    color: #fff;
    padding: 5px 25px;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.3s ease;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}
.navbar ul li a:hover {
    border-color: #009ad8;
    color: #009ad8
}
.navbar a.active {
    border: 2px solid transparent;
    border-color: #009ad8;
    color: #009ad8;
}
.bg-nav {
    padding: 50px 0;
    background: #1e202b;
}
.text-logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.text-logo h1 {
    font-size: 16px;
}
.text-logo small {
    font-size: 10px;
    color: #bfc1c8;
    display: block;
    margin-top: 5px;
}
.navbar .container img {
    width: 65px;
    height: 40px;
}
.bg-header {
    background-image: url(../images/banner.png);
    padding: 70px 0;
    min-height: 350px;
    background-size: cover;
}
.input-weather input {
    width: 100%;
    padding: 15px 50px 15px 20px;
    background: #1e202b;
    color: #fff;
    border-radius: 30px;
    border: none;

}
.form-control:focus {
    border: none;
    background-color: #1e202b;
    box-shadow: none;
    color: #fff;
}
#searchInput::placeholder {
    color: #535357;
}
.input-weather button {
    padding: 10px 45px;
    border-radius: 30px;
    color: #fff;
    background: #009ad8;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
.input-weather button:hover {
    background-color: #009ad8;
    color: #fff;
    border: none;
}
.search {
    position: relative;
}
.email-subscribe {
    position: relative;
}
#emailSub::placeholder {
    color: #535357;
}

/* ------------------------------- */

.forecast-box {
    width: 100%;
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 50px;
}
.forecast-box .forecast {
    width: 33.33%;
}
.forecast-box .forecast:nth-child(even) {
    background-color: #262936;
}
.forecast-box .forecast.today .forecast-title:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}
.forecast-box .forecast.today .forecast-title .todayName {
    float: left;
}
.forecast-box .forecast.today .forecast-title .todayDate {
    float: right;
}
.forecast-box .forecast.today .forecast-content {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
.forecast-box .forecast.today .location-today {
    font-size: 18px;
    font-size: 1.2857142857em;
    font-weight: 400;
}
.forecast-box .forecast.today .degree .num {
    font-size: 90px;
    margin-right: 30px;
}
.forecast-box .forecast.today span{
    margin-right: 6px;
}
.forecast-box .forecast.today span img{
    margin-right: 5px;
    vertical-align: middle;
}
.forecast-box .forecast .forecast-title{
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400;
}
.forecast-box .forecast .forecast-icon{
    height: 50px;
}
.forecast-box .forecast .forecast-content{
    padding: 50px 20px 10px;
    text-align: center;
}
.forecast-box .forecast .forecast-content .forecast-icon{
    margin-bottom: 20px;
}
.forecast-box .forecast .forecast-content .degree{
    font-size: 24px;
    font-size: 1.7142857143em;
    color: white;
    font-weight: 700;
}
.forecast-icon .forecast-icon-today{
    width: 85px;
}
.forecast-icon .forecast-icon-next{
    width: 48px;
}
.custom{
    color: #009ad8;
    margin: 20px 0;
}
/* ------------------footer------ */
footer {
    background: #262936;
    padding: 50px 0;
}
.head-icon {
    width: 40px;
    height: 40px;
    background: #1e202b;
    transition: all 0.3s;
}
.head-icon i {
    color: #009ad8;
    transition: all 0.3s;
}
.head-icon:hover i {
    color: #ffffff;
}
.head-icon:hover {
    background: #009ad8;
}
.copyright {
    color: #bfc1c8;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}
.navbar-toggler:focus {
    box-shadow: none;
}
a:focus {
    outline: thin dotted;
}
.head-icon:focus{
    outline: thin dotted;
}






@media (max-width: 768px) {
    .navbar ul li {
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
    }

    .navbar-nav {
        align-items: center;
    }

    .navbar ul li a {
        border: none;
    }

    .navbar-toggler {
        transition: all 0.3s;
    }

    .navbar-toggler:hover {
        border: 2px solid transparent;
        border-color: #009ad8;
        color: #009ad8;
        padding: 5px 25px;
        border-radius: 30px;
    }

    .navbar-collapse {
        padding-top: 15px;
    }

    .social {
        padding-top: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media screen and (max-width: 990px) {
    .forecast-box .forecast {
      display: block;
      width: 100%;
      float: left;
    }
  }






